{% extends 'base.html' %}

{% block title%}Lothian Bus{% endblock %}

{% block content %}
<h2 font='Arial'>Next Services</h2>
    <table class="tg" style="width: 100%;table-layout: fixed;">
    <colgroup>
    <col style="width: 10%">
    <col style="width: 40%">
    <col style="width: 50%">
    </colgroup>

      {% for bus_service in bus_services %}
      <tr>
        <td class="tg-yla0">{{ bus_service[0] }}</td>
        <td class="tg-cly1"><b>{{ bus_service[1] }}</b><br>{{ bus_service[2] }}</td>
        <td class="tg-mwxe">{{ bus_service[3] }}<br><label class="standardlabel">{{ bus_service[8] }}{{ bus_service[7] }} mins</label><br><label class="smalllabel">{{ bus_service[4] }}</label></td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}